* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flexbox 연습 영역 */
.flex-container {
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: end; */
  align-items: start;
  margin: auto;
  width: 80vw;
  height: 80vh;
  border: 2px dashed #000;

  /* 아래에 적절한 flexbox 관련 속성과 값을 작성해서 문제 해결  */
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 0.5rem;
}
.box-1 {
  background-color: #60a5fa;
  flex-grow: 1;
}
.box-2 {
  background-color: #f87171;
  /* align-self: center; */
  flex-grow: 1;
}
.box-3 {
  background-color: #34d399;
  flex-grow: 1;
}
.box-4 {
  background-color: #facc15;
  /* align-self: end; */
  flex-grow: 2;
}
