* {
  font-family: Arial;
}

.header {
  width: auto;
  height: 100px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  background-color: rgba(235, 235, 235, 0.4);
}

main {
  margin: 4rem;
}

.content {
  margin: 1rem;
  margin-top: 1rem;
}

.footer {
  width: auto;
  height: 100px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  background-color: rgba(235, 235, 235, 0.4);
  text-align: center;
}
.page {
  position: relative;
  top: 35%;
  color: gray;
}
.head {
  position: relative;
  top: 2rem;
  left: 1rem;
  font-size: bold;
}
.content-name {
  position: relative;
  margin-bottom: 0.5rem;
}
